@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Teko&Orbitron&display=swap');

:root {
    --dark-green: #14281D;
    --green: #355834;
    --lite-green: #8AAA79;
    --bone: #D1D5DE;
    --gray: #B7B6C2;
    --font-size: 1.3rem;
    --ubuntu: "Ubuntu Condensed", sans-serif;
    --teko: Teko, sans-serif;
    --suns-orange: #dd6c1c;
    --title: 'Orbitron', sans-serif;
}

.storyStyle {
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    font-size: 1.3rem;
    line-height: 1.2;
    font-family: var(--ubuntu);
    margin: 0 auto;
    max-width: 50%;
    min-height: 90vh;
    max-height: 650px;
    overflow: hidden;
    display: flex; /* Display children in a row */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
}

.headingStyle {
    font-family: var(--title);
    font-size: 2.0rem;
}

.story-page {
    background-color: rgba(0,0,0,0.4);
    border-top: 1px solid var(--bone);
    border-right: 1px solid var(--suns-orange);
    border-radius: 15px;
    padding: 10px;
    margin: 1rem;
    width: 70%;
    max-width: 100vw;
    max-height: 500px;
    overflow: hidden;
    font-size: 1rem;
    height: auto;
    flex-grow: 1; /* Grow to take available space */
    display: flex; /* Display children in a row */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    justify-content: space-between; /* Distribute children evenly */
}

.paragraphStyle {
    margin-bottom: 1rem;
    color: var(--gray)
}

/* Style the buttons with icons */
.pagination-button {
    background-color: transparent;
    border: 1px solid var(--suns-orange);
    cursor: pointer;
    color: var(--suns-orange);
    font-size: 1rem;
    font-family: var(--ubuntu);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    width: auto;
    max-width: 5%; /* Limit the maximum width to 5% of the container */
    margin: 0 5px; /* Add some margin between the buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

/* Style the caption text (hidden by default) */
.pagination-button .caption {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--suns-orange);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
}

/* Show the caption on hover */
.pagination-button:hover .caption {
    opacity: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .story-page {
        max-heigth: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .storyStyle {
        max-width: 70%;
        max-height: none; /* Remove the maximum height */
        overflow: visible; /* Remove overflow */
    }

    .story-page {
        width: 100%;
        max-width: 100%;
        max-height: 350px;
        height: auto;
        overflow: visible; /* Remove overflow */
        font-size: 1rem;
    }

    .flex-container {
        display: block;
        text-align: center;
    }

    /* Remove display: none; to make the buttons visible */
    .pagination-button {
        background-color: transparent;
        border: 1px solid var(--suns-orange);
        cursor: pointer;
        color: var(--suns-orange);
        font-size: 1rem;
        font-family: var(--ubuntu);
        padding: 0.2rem 0.5rem;
        border-radius: 5px;
        width: auto;
        max-width: none; /* Remove the maximum width */
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}


@media screen and (max-width: 700px) {
    .storyStyle {
        max-width: 90%;
        min-height: auto;
        max-height: none;
        overflow: auto;
    }

    .story-page {
        width: 100%;
        max-width: 100%;
        max-height: 300px;
        height: auto;
        overflow: visible;
        font-size: 1rem;
    }

    .flex-container {
        display: block;
        text-align: center;
    }

    .pagination-button {
        max-width: none;
    }
}

@media screen and (min-width: 1000px) {
    .storyStyle {
        max-width: 70%;
        max-height: 70vh; /* Limit the maximum height of the container */
    }

    .story-page {
        width: 100%;
        overflow: auto; /* Add scrollbars (when needed) */
        max-height: 500px; /* Limit the maximum height of the content */
    }

    .flex-container {
        max-width: 90%; /* Limit the maximum width of the direct container */
    }

    .pagination-button {
        background-color: transparent;
        border: 1px solid var(--suns-orange);
        cursor: pointer;
        color: var(--suns-orange);
        font-size: 1rem;
        font-family: var(--ubuntu);
        padding: 0.2rem 0.5rem;
        border-radius: 5px;
        width: auto;
        max-width: 5%;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;
        position: relative;
    }
}